doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

  .container 
    nav 
      .title #{title} 
      ul
        each val in [{lien:'#',text:'Accueil'},{lien:'#',text:'A propos'},{lien:'#',text:'Contact'}]
          li
            a(href=val.lien) #{val.text}

            
    block content
